.terms-wrapper
{
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;

    & label
    {
        font: var(--text);
        
        margin: 0;
    }

    & strong
    {
        font: 500 1rem/1.5 var(--font-family);
        color: var(--text-highlight);
    }
}

.checkbox-wrapper
{
    position: relative;

    & [type="checkbox"]
    {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-image
    {
        flex: 0 0 1.5rem;
        height: 1.5rem;

        background-image: url(../../assets/icons/square.svg);
    }

    &:hover, &:focus-within
    {
        .checkbox-image
        {
            background-image: url(../../assets/icons/square-hover.svg);
        }
    }

    &:has(:checked) .checkbox-image
    {
        background-image: url(../../assets/icons/checkmark-square-01.svg);
    }
}