.dropzone
{
    border: 1px dashed var(--stroke-default);
    border-radius: 0.5rem;

    display: grid;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;

    text-align: center;
    padding: 1.5rem 1rem;

    position: relative;

    & input
    {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    & p
    {
        color: #A8A29E;
    }

    &:hover, &:has(input:focus)
    {
        border: 2px dashed var(--stroke-highlight);
        background-color: var(--surface-secondary);

        & svg path
        {
            stroke: #F67841;
        }
        
        & p
        {
            color: var(--text-tertiary);
        }
    }
}