/* 
  Estilos base para campos de formulário:
  - input
  - select
  - textarea
*/
input,
select,
textarea
{
    /* Remove estilos nativos do navegador */
    appearance: none;

    /* Dimensões e espaçamento */
    width: 100%;
    padding: 0.75rem 1rem;

    /* Estilo visual padrão */
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--stroke-default);

    /* Tipografia */
    font: var(--text);
    color: var(--text-primary);
}

/* Ajuste específico para textarea */
textarea
{
    padding: 0.75rem 1rem 1rem;
}

/* Estilo padrão para labels */
label
{
    font: var(--text-sm);
    display: block;
    margin-bottom: 0.25rem;
}

/* Label dentro do componente de upload */
.droparea-wrapper label
{
    margin-bottom: 0.5rem;
}

/* 
  Estados de foco:
  - Destaque visual
  - Acessibilidade
*/
input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within
{
    outline: 0.25rem solid var(--surface-secondary);
    border-color: var(--stroke-highlight);
    outline-offset: 0.1px;
}

/* 
  Customização do input do tipo date
*/
input[type="date"]
{
    position: relative;

    /* Remove o ícone padrão do navegador (WebKit) */
    &::-webkit-calendar-picker-indicator
    {
        opacity: 0;
    }

    /* Ícone customizado de calendário */
    &::before
    {
        content: "";
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);

        width: 1.5rem;
        height: 1.5rem;
        background: url(../../assets/icons/calendar-03.svg) center/contain;
    }
}

/* 
  Customização visual do select
*/
select
{
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

/* Espaçamento entre campos flexíveis de endereço */
.address .flex
{
    gap: 1.25rem;
}

/* 
  Wrapper que contém inputs desabilitados:
  reduz opacidade de todo o grupo
*/
.input-wrapper:has([disabled])
{
    opacity: 50%;
}

/* 
  Regras específicas para inputs
*/
input
{
    /* Estado desabilitado */
    &[disabled]
    {
        background-color: var(--surface-disabled);
    }

    /* Estado inválido (validação nativa HTML) */
    &:invalid
    {
        border: 2px solid var(--semantic-error);
    }

    /* Texto auxiliar abaixo do input */
    & + small
    {
        font: var(--text-sm);
        color: #78716C;

        display: inline-block;
        margin-top: 0.25rem;
    }

    /* Mensagem de erro associada a campos obrigatórios */
    &[required] + .error
    {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        font: var(--text-sm);
        color: var(--semantic-error);

        margin-top: 0.25rem;
    }

    /* Oculta erro quando o campo é válido e não está em foco */
    &:not(:focus):valid + .error
    {
        display: none;
    }
}