.enroll-options label
{
    margin: 0;
}

label + .radio-wrapper
{
    margin-top: 1rem;
}

.radio-wrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    gap: 1rem;
}

.radio-inner
{
    border: 1px solid var(--stroke-default);
    border-radius: 0.5rem;

    display: grid;
    justify-items: center;
    gap: 0.5rem;

    padding: 2rem 1rem 1rem;

    position: relative;
    
    & input, & input:focus, & input:hover
    {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .radio-image
    {
        background-image: url(../../assets/icons/circle.svg);

        width: 1.5rem;
        height: 1.5rem;

        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }

    &:hover, &:focus-within
    {
        border: 1px solid var(--stroke-highlight);

        & .radio-image
        {
            background-image: url(../../assets/icons/circle-hover.svg);
        }
    }

    &:has(:checked)
    {
        border: 2px solid var(--stroke-highlight);

        & .radio-image
        {
            background-image: url(../../assets/icons/checkmark-circle-01.svg);
        }
    }

    & label
    {
        font: 500 1rem/1.5 'Montserrat', sans-serif;
        color: rgb(0 0 0 / 80%);
    }
}